@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    #logo {
        text-align : center;
    }
</style>
<div class="row" style="text-align:center">
        <img src="~/image/Boardlogo.png" width="500"  />
</div>