
@{
    ViewBag.Title = "Logout";
}

<h2>Logout</h2>

@section Scripts {
    <script>
        $(document).ready(function () {
            alert("정상적으로 로그아웃 되었습니다.")
            location.href = "/Home";
        });

    </script>
}
